__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.csv
*.ipynb
data/
.python-version
*.egg-info
configs/
deeplearning_dataset/
lightning_logs/
missfont.log
HME100K_Dataset.zip
results.zip
HME100k/
*.jpg
*.jpeg
*.jpe
*.jfif

